@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

:root {
  /*font size*/
  --extra-large-size: 1.875rem;
  --large-size: 1.125rem;
  --midium-size: 1rem;
  --small-size: 0.875rem;

  /*color*/
  --indigo-color: rgb(11, 11, 21);
  --white-color: rgb(237, 239, 243);
  --yellow-color: rgb(238, 188, 78);

  /*layout*/
  --main-width: 1rem calc((100vw - 1300px) / 2);
}
